* {
  margin: 0;
  padding: 0;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'ABCDiatypeVariable';
  src: url('ABCDiatypeVariable.ttf') format('woff');
}

body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  animation: fadeInPage 1s ease-in forwards;
  opacity: 0;

  margin-top: 10rem;
  margin-bottom: 1rem;
  margin-inline: 0.1rem;
  background-color: white;
  transition: background-color 0.2s ease;

  font-family: 'ABCDiatypeVariable';
  font-weight: 400;

  height: fit-content;
  overflow-y: scroll;
  scrollbar-width: none;
}

.bg-active {
  background-image: url('IMG_5928.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  mix-blend-mode: difference;
  color: white;
}

.skull {
  position: fixed;
  top: 0.1rem;
  z-index: 2;
  display: flex;
  width: 99.8%;
  font-size: 10pt;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  box-sizing: border-box;
}

.skullSection {
  flex: 1;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(27, 26, 26);
}

.menuButton {
  justify-content: flex-start;
}

.homeButton {
  justify-content: center;
}

.aboutButton {
  justify-content: flex-end;
}


.organ .listOfProject-container {
  overflow-y: scroll;
  scrollbar-width: none;
}

.galleryContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.1rem;
  row-gap: 0.1rem;

  width: 100%;
  /* or 100% if needed */

  scrollbar-width: none;

  border-bottom: 1px solid black;
}

.galleryContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* fill and crop image */
  display: block;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 500px;
  /* or any fixed height */
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* This is the key */
  object-position: center;
  /* Optional: center the image crop */
  display: block;
}

.imageDescription {
  position: absolute;
  z-index: 1;

  display: none;
  justify-content: space-between;
  width: 100%;
  padding: 0rem;
  font-size: 10pt;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.imageContainer:hover .imageDescription {
  display: flex;
}

.imageContainer:hover img {
  opacity: 0%;
}



.skin {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: left;

  flex-direction: row;
  gap: 1rem;
  font-size: 11pt;

  padding-inline: 1rem;
  padding-block: 1rem;
  border-block: 1px solid black;
}

.aboutInfo {
  width: 50vw;
}

.aboutText {
  font-weight: 400;
  width: 50vw;
}



.skeleton {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;

  flex-direction: row;
  gap: 1rem;

  font-size: 10pt;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border-block: 1px black solid;
  padding-bottom: 1rem;
}

.organ {
  width: 50%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.listOfProject-container {
  margin-top: 1.5rem;
}

.listOfProjects {
  width: 100%;
  height: 1.5rem;
  flex-direction: row;
  gap: 1rem;
  transition: margin-block-start 0.3s ease, margin-block-end 0.3s ease;
}

.listOfProjects:hover {
  margin-block: 1rem;
}

.listOfProjects.highlighted {
  opacity: 0.4;
}

.project-date {
  text-align: right;
}

/*  */
.filter {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.filterSelection {
  display: none;
  transition: max-height 0.3s ease;
}

.filterSelection.active {
  display: block;
}

.toggleIcon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.categoryButton.active .toggleIcon {
  transform: rotate(45deg);
  /* Turns + into × */
}

.categoryButton {
  cursor: pointer;
}

/*  */
.filterSelection input[type="radio"] {
  width: 0;
  appearance: none;
  visibility: hidden;
}

.filterSelection label {
  cursor: pointer;
}

.projectCategory:has(input[type="radio"]:checked) label {
  opacity: 50%;
}

.projectCategory {
  margin-block: 4px;
}

.linkArrow {
  font-size: 12px;
}


/* switch settings */

  .love {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 1;
  }

  #switch {
    display: none;
  }

  .love-heart {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #ccc;
    border-radius: 20px;
    position: relative;
  }

  .love-heart .round {
    width: 20px;
    height: 20px;
    background: rgb(255, 0, 153);
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: transform 0.3s ease;
  }

  #switch:checked + .love-heart .round {
    transform: scale(1.5);
  }

/* end of switch settings */



.footer {
  display: flex;
  align-items: start;
  padding-inline: 1rem;
  padding-top: 3rem;
  padding-bottom: 2rem;

  flex-direction: column;

  font-size: 10pt;
  text-transform: uppercase;
}

.copyright {
  padding-top: 2rem;
}




/* iphone display */
@media (min-width: 1000px) {
  .galleryContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {

  .galleryContainer {
    grid-template-columns: 1fr;
    gap: 0.1rem;
  }

  .organ {
    width: 100%;
  }

  .skeleton,
  .skin {
    height: fit-content;
    flex-direction: column;
    gap: 5rem;
  }

  .aboutInfo, .aboutText{
    width: 100%;
  }

  .project-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }

  .imageContainer {
  height: 300px;
}

}