body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.skeletonContainer{height: 100vh;}
.organ{width: 50%;height: 100%;}


.skull{margin-bottom: 3rem; display: flex;}

.circulatorySystem{
    margin-top: 1rem;
    margin-left: 1rem;
    
    display: flex; 
    flex-direction: row;
    gap: 1rem;
}

.vital-organ{
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-inline: 1rem;
}
.nervousSystem{display: flex; margin-bottom: 1rem;}
.socials{
    position: relative;
    display: flex;
    flex-direction: row;
    gap:1rem;
    width: 50%;
}
a{text-decoration: none; color: black;}
.linkArrow{font-size: 12px;}

.limb{ 
    align-items: start;
    display: flex;
    justify-content: center;
    height: 91vh;
    flex-direction: row; 
    gap: 2rem;
    overflow: scroll;
    scrollbar-width: none; 
}

.cell {
    top: 0;
    position: sticky;
    /* width: 35%; */
    min-width: 30%; /* optional */
    max-width: 30%;

    padding-inline-start: 1rem;
    height: fit-content;
    align-self: flex-start;
}

.projectTitle{font-size: 20px;}
.projectFinder{margin-bottom: 1rem;}
.projectSynopsis{margin-bottom: 1rem;}

.fixedContainer {
    flex-wrap: wrap;
    display: flex;
}

.muscle{
    margin: 0;
    padding: 0;
    height:88.5%;
    display: flex;
    flex-direction: column;   
}
.muscle img{
    margin: 0;
    padding: 0;
    border: 0;

    max-width: 100%;
    height: auto;
    display: block;
}

.arrowToggle{margin-block: 1rem; padding-bottom: 1rem;}

/* vimeo settings */
.vimeo-container{
    position: relative;
    width: 100%;
    overflow: hidden;
}
iframe.vimeo-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}
    .eighty-fifty-container{ aspect-ratio: 83 / 54; padding-top: calc(100% * (54 / 83));/* Set custom aspect ratio */}
    iframe.eighty-fifty-video{ width: 153.7%; /* 100 * (83 / 54) */}

    .sixteen-nine-container { aspect-ratio: 16 / 9; padding-top: calc(100% * (9 / 16));}
    iframe.sixteen-nine-video { width: 177.78%; /* 100 * (16 / 9) */}

    .ether-container { aspect-ratio: 25 / 18; padding-top: calc(100% * (18 / 25));}
    iframe.ether-video { width: 138.89%; }

    .human-container { aspect-ratio: 4 / 3; padding-top: calc(100% * (3 / 4));}
    iframe.human-video { width: 133.33%; }



/* iphone display */
@media (min-width: 1000px) {
    .limb {flex-direction: row;}
}

@media (max-width: 1000px) {
    .limb {
        flex-direction: column;
        justify-content: start;
        height: 91vh;
    }
    .cell {
        position: relative;
        min-width: 95%; /* optional */
        max-width: 95%;
        padding-inline-start: 1rem;
        height: fit-content;
        align-self: flex-start;
    }
    .fixedContainer {
        flex-wrap: wrap;
        display: flex;
    }
    .pageText{padding-inline: 2rem;}
    .muscle{height:100vw;}
    .arrowToggle{margin-left: 1rem;}

    .nervousSystem{flex-direction: column;}
    .socials {
        /* flex-wrap: wrap; */
        flex-direction: column;
        gap: 0;
    }
    .organ{width: 100%;}
    .colophon{margin-top: 2rem;}
}